* {
    margin: auto;
    padding: 0;
}

.container .row:nth-child(1) {
    background-color: rgb(168, 209, 217);
}

.container .row:nth-child(1) .col-md-10 {
    text-align: center;
}

.container .row:nth-child(1) p {
    color: red;
}

.container .row:nth-child(1) h3,
.container .row:nth-child(1) h2 {
    color: rgb(47, 47, 171);
    font-weight: bolder;
}

footer {
    text-align: center;
}

footer span {
    margin-right: 50px;
    font-weight: bolder;
    font-size: 18px;
}